.contact{
    display: flex;
    width: calc(60%);
    margin: auto;
    margin-top: 2rem;

    form{
        display: flex;
        flex-direction: column;
        width: calc(85%);
        margin: auto;

        .title{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 1rem;
    
            h1{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 36px;
                line-height: 44px;
                font-weight: 600;
                color: #101828;
            }
            p{
                display: flex;
                flex-wrap: wrap;
                width: calc(50%);
                position: absolute;
                margin-top: 5rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: #475467;
            }
        }
        .allnames{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
    
            .name{
                flex-wrap: wrap;
                flex: 1;
            }
    
            label{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #344054;
            }
    
            input{
                display: flex;
                flex-wrap: wrap;
                width: calc(100%);
                height: 40px;
                border-radius: 8px;
                outline: none;
                border: 2px solid rgba(16, 24, 40, 0.05);
                padding-left: 1rem;

                &:focus{
                    border: 2px solid #D1E9FF;
                }
            }

        }

        .allemail{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: calc(100%);

            label{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #344054;
            }
    
            input{
                margin-top: 1rem;
                display: flex;
                width: calc(100%);
                height: 40px;
                border-radius: 8px;
                outline: none;
                border: 2px solid rgba(16, 24, 40, 0.05);
                padding-left: 1rem;

                &:focus{
                    border: 2px solid #D1E9FF;
                }
            }

        }
        .allmessage{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            // width: calc(100%);

            label{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #344054;
            }
    
            textarea{
                margin-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                width: calc(100%);
                height: 132px;
                border-radius: 8px;
                outline: none;
                border: 2px solid rgba(16, 24, 40, 0.05);
                padding-left: 1rem;

                &:focus{
                    border: 2px solid #D1E9FF;

                }

                .textarea-error{
                    border: 2px solid red;
                }

            }
        }

        .checkbox{
            margin-top: 1rem;
            display: flex;
            gap: 1rem;

            input{
                border-radius: 8px;
                outline: none;
                border: 2px solid rgba(16, 24, 40, 0.05);

            }

            p{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: #475467;
            }
        }

        .allbutton{
            display: flex;
            width: calc(100%);
            margin: auto;

            button{
                height: 48px;
                width: calc(100%);
                color: white;
                background-color: #1570EF;
                border-radius: 8px;
                border: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                cursor: pointer;

                &:focus{
                    border: 2px solid #D1E9FF;
                }

                &:disabled{
                    background-color: #B2DDFF;
                }
                
            }
        }
        .error{
            display: flex;
            margin-top: -0.01rem;
            color: red;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width:576px) {
    .name{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}