.App {
  text-align: center;
  background-color: #ffffff;
  padding: 3rem;

}
/* Profile Image Styling */
#profile__img{
  display: flex;
  margin: auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-image: url(../public/ProImg.jpg);
}